<!DOCTYPE html>
<html>
<head>
	<title>REGISTER</title>
	<link rel="stylesheet"  href="/static/Css/Sign.css">
</head>
<body>
	<div class="container">
	<div class="wrap">
		<strong>REGISTER HERE</strong>
		<form action="{% url 'signup' %}" method="post">
			{% csrf_token %}
			<input type="text" name="Username"  placeholder="Enter Your Username" required>
			<input type="text" name="Name"  placeholder="Enter Full Name" required>
			<input type="text" name="Email" placeholder="Enter Email..." required>
			<input type="text" name="Phone" placeholder="Enter Phone Number.." required>
			<input type="Password" name="Password" placeholder="Enter Password.." required>
			<input type="Password" name="Password1" placeholder="Confirm Your Password.." required>
			<button type="submit"> Sign Up </button>
		</form>
		



	</div>
</div>
</body>
</html>